*{
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	background: #FFFFFF;
	color: #FFFFFF;
	font-size: 2en;

}

h1{
	color: #F47920;
	margin: 0.25em auto;
	text-align: center;
	font-size: xx-large;
}

h2{
	color: #F47920;
	margin: 0.25em auto;
	text-align: center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
}



h3{
	color: #F0B429;
	margin: 0.25em auto;
	text-align: center;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
}

h4{
	color: #fff;
	margin: 0.25em auto;
	text-align: left;
	text-shadow: 5px 5px 10px rgba(255,255,255,0.5);
}

header,nav,footer{
	background:  #F0B429;
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 100%;
	padding: 0.25em;
	text-align: center;
}

section#contenedor{
	margin: 0.5em auto;
	max-width: 100%;
	padding: 0;
	background: #FFFFFF;
	text-align: center;;
}

section#principal, aside{
	background: #1E6381;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.2em auto;
	max-width: 100%;
	min-height: 200px;
	vertical-align: top;
	width: 65%;
}

article{
	background: #1E6381;
	border-radius: 0.5em;
	min-height: 140px;
	padding: 0.25em;
}
aside{
	width: 30%;
}